{% extends 'public/public.template.html.twig' %}

{% block title %}{{ parent() }} Veuillez vous connecter à votre compte {% endblock %}

{% block pagetype %}connect{% endblock %}

{% block logo %}
    <div id="logo">
        <h1>News <span id="iisrt"><span id="ii">II</span>  <span id="srt">WEB</span></span></h1>
        <div id="tagline">
            <h2>Page de connexion</h2>
        </div>
    </div>
{% endblock %}
{% block main %}
    <section>
        <div id="line">
            <div class="dline"></div>
            <h1>Connexion</h1>
            <div class="dline"></div>
        </div>
        <div id="connectpost">
            <h1>Page de connexion</h1>
            <p>Bienvenue, veuillez vous connecter sur votre compte</p>
            <form method="post">
                <div id="connectform">
                    <div><label for="login">your user name</label><input type="text" name="theuserlogin" id="login"
                                                                         placeholder="your login"
                                                                         onfocus="this.placeholder = ''"
                                                                         onblur="this.placeholder = 'your name'"
                                                                         value=""/></div>


                    <div><label for="pass">Your password</label><input type="password" name="theuserpwd" id="pass"
                                                                       placeholder="your password"
                                                                       onfocus="this.placeholder = ''"
                                                                       onblur="this.placeholder = 'your password'"
                                                                       value=""/></div>


                    <div><input class="signin" type="submit" name="connect_submitted" value="sign In"/></div>
                </div>
            </form>
            <!--<p>NOTE: A contact form such as this would require some way of emailing the input<br/>
                to an email address.</p>-->
        </div>


    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if error is defined %}
        <script>alert("{{ error }}")</script>
    {% endif %}
{% endblock %}
