{% extends "private/private.template.html.twig " %}

{% block title %}{{ parent() }} Liste des articles{% endblock %}

{% block pagecontent %}
    <h3 class="mb-1 pb-2 text-gray-800">Liste des articles</h3>
{% endblock %}