{% extends 'base.html.twig' %}

{# on écrase le block meta DEJA existant dans base.html.twig #}
{% block meta %}
    {# je récupère l'UTF8 qui se trouve déjà dans son parent en utilisant le code ci-dessous, en réalité on étend le block #}
    {{ parent() }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Administration">
    <meta name="author" content="admin">{% endblock %}

{% block title %}Admin NewsWeb | {% endblock %}

{% block stylesheets %}
    <link href="css/admin/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/admin/sb-admin-2.min.css" rel="stylesheet">{% endblock %}

{% block pagetype %}page-top{% endblock %}

{% block body %}
    <!-- Page Wrapper -->
    <div id="wrapper">
        {% block sidebar %}
            {# Appel de la vue de la sidebar avec un include #}
            {% include 'private/private.sidebar.html.twig' %}
        {% endblock %}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                {% block content %}
                    {% block topbar %}
                        {# Appel de la vue de la topbar avec un include #}
                        {% include 'private/private.topbar.html.twig' %}

                    {% endblock %}
                    <div class="container-fluid">
                        {% block pagecontent %}
                            {% if username %}  {{ username }} {% else %}Douglas{% endif %}
                        {% endblock %}
                    </div>
                {% endblock %}

            </div>
            <!-- End of Main Content -->
            {% block footer %}
                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; NewsWebPrepaTest {{ now|date('Y') }} - <a
                                        href="https://github.com/WebDevCF2m2021/NewsWebPrepaTest"
                                        target="_blank">github</a></span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->
            {% endblock %}
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    </div>
    <!-- End of Content Wrapper -->
    {% block logoutandscroll %}
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Prêt à quitter?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Choisissez déconnexion pour retourner au site</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                        <a class="btn btn-primary" href="?disconnect">Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    <!-- Bootstrap core JavaScript-->
    <script src="js/admin/jquery.min.js"></script>
    <script src="js/admin/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="js/admin/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/admin/sb-admin-2.min.js"></script>
{% endblock %}
