<!DOCTYPE html>
<html lang="fr">
<head>
    {% block meta %}<meta charset="UTF-8">{% endblock %}
    <title>{% block title %}Hello {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body id="{% block pagetype %}{% endblock %}">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>