<nav class="topnav" id="topnav">
    <ul>
        <li id="menu">
            <a href="javascript:void(0);" class="icon" onclick="hamburger()">MENU <i class="fa fa-bars"></i></a>
        </li>
        <li><a href="./" id="homenav">Accueil</a></li>
        <li><a href="./?blog" id="blognav">Les articles</a></li>
        <li class="listMenu">
            <a id="sectionnav">Sections</a>
            <ul class="subMenu">
                {# Affichage du menu depuis la table thesection #}
                {% for itemSection in menu %}
                    <li><a href="?section={{ itemSection.thesectionslug }}">{{ itemSection.thesectiontitle }}</a></li>
                {% else %}
                    <li>PAS ENCORE DE SECTION !</li>
                {% endfor %}

            </ul>
        </li>
        <li><a href="./?contact" id="contact">Contact</a></li>
        <li><a href="./?connect" id="admin">Admin</a></li>
    </ul>
</nav>